@page "/"
@using AntDesign

<PageTitle>Inicio</PageTitle>

<Layout>
    <Content Style="padding: 0 50px;">
        <div class="site-layout-content">
            <Row>
                <AntDesign.Col Span="12" Xs="24" Lg="12">
                    <Title Level="2">Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy</Title>
                    <Paragraph>
                        La Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy es una institución educativa dedicada a la formación técnica de jóvenes estudiantes. Con una rica historia y un compromiso constante con la excelencia académica, nuestra escuela se destaca por ofrecer una educación integral que combina conocimientos teóricos y prácticos en diversas especialidades técnicas.
                    </Paragraph>
                </AntDesign.Col>
                <AntDesign.Col Span="12" Xs="24" Lg="12">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!4v1726722088745!6m8!1m7!1s2GUpJ3wgrZ4XUb8c3hYAMQ!2m2!1d-34.89151068469108!2d-60.01457439326683!3f290.39367649112154!4f3.4335852577463726!5f0.4000000000000002"
                                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </AntDesign.Col>
            </Row>
            <Row Gutter="16">
                <AntDesign.Col Span="12" Xs="24" Lg="12">
                    <Card Title="Misión">
                        <Body>
                            <Paragraph>
                                Nuestra misión es proporcionar una educación técnica de alta calidad que prepare a los estudiantes para enfrentar los desafíos del mundo laboral y académico. Nos esforzamos por fomentar el desarrollo de habilidades técnicas, el pensamiento crítico y la creatividad, promoviendo al mismo tiempo valores éticos y sociales que contribuyan al crecimiento personal y profesional de nuestros alumnos.
                            </Paragraph>
                        </Body>
                    </Card>
                </AntDesign.Col>
                <AntDesign.Col Span="12" Xs="24" Lg="12">
                    <Card Title="Visión">
                        <Body>
                            <Paragraph>
                                Aspiramos a ser una institución líder en educación técnica, reconocida por la excelencia de nuestros programas académicos y la calidad de nuestros egresados. Buscamos innovar continuamente en nuestras metodologías de enseñanza y mantenernos a la vanguardia de los avances tecnológicos, para asegurar que nuestros estudiantes estén bien preparados para un futuro dinámico y en constante evolución.
                            </Paragraph>
                        </Body>
                    </Card>
                </AntDesign.Col>
            </Row>
        </div>
    </Content>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    .map-container {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }

    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>