@page "/"
@using AntDesign

<PageTitle>Inicio</PageTitle>

<style>
    .desc-card {
        max-width: 600px;
        gap: 30px;
        border-radius: 1vw;
    }

    .page-content {
        padding: 30px;
        margin: 30px;
    }

    .desc-row {
        max-height: 1000px;
        width: auto;
    }
</style>

<Layout>
    <Content Class="page-content">
        <Row Class="desc-row">
            <Col Span="12" Xs="24" Lg="12">
            <Title Level="2">Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy</Title>
            <Paragraph>
                La Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy es una institución educativa dedicada a la formación técnica de jóvenes estudiantes. Con una rica historia y un compromiso constante con la excelencia académica, nuestra escuela se destaca por ofrecer una educación integral que combina conocimientos teóricos y prácticos en diversas especialidades técnicas.
            </Paragraph>
            </Col>
            <Col Span="12" Xs="24" Lg="12">
            <div class="map-container" style="margin-left: 20px;">
                <img src="Images/ImagenIndex.jpg" alt="Imagen de la Escuela" style="border:0;" />
            </div>
            </Col>
        </Row>
        <br />
        <Row Gutter="16">
            <Col Span="12" Xs="24" Lg="12">
            <Card Class="desc-card">
                <Body>
                    <h1><b>Misión</b></h1>
                    <Paragraph>
                        Nuestra misión es proporcionar una educación técnica de alta calidad que prepare a los estudiantes para enfrentar los desafíos del mundo laboral y académico. Nos esforzamos por fomentar el desarrollo de habilidades técnicas, el pensamiento crítico y la creatividad, promoviendo al mismo tiempo valores éticos y sociales que contribuyan al crecimiento personal y profesional de nuestros alumnos.
                    </Paragraph>
                </Body>
            </Card>
            </Col>
            <Col Span="12" Xs="24" Lg="12">
            <Card Class="desc-card">
                <Body>
                    <h1><b>Visión</b></h1>
                    <Paragraph>
                        Aspiramos a ser una institución líder en educación técnica, reconocida por la excelencia de nuestros programas académicos y la calidad de nuestros egresados. Buscamos innovar continuamente en nuestras metodologías de enseñanza y mantenernos a la vanguardia de los avances tecnológicos, para asegurar que nuestros estudiantes estén bien preparados para un futuro dinámico y en constante evolución.
                    </Paragraph>
                </Body>
            </Card>
            </Col>
        </Row>
    </Content>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    .map-container {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }

        .map-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>