@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
            <div>
                <h1 class="display-4">Escuela Técnica Industrial Nº1 “Mariano Moreno” de Chivilcoy</h1>
                <p class="lead">
                    La Escuela Técnica Industrial Nº1 “Mariano Moreno” de Chivilcoy es una institución educativa dedicada a la formación técnica de jóvenes estudiantes. Con una rica historia y un compromiso constante con la excelencia académica, nuestra escuela se destaca por ofrecer una educación integral que combina conocimientos teóricos y prácticos en diversas especialidades técnicas.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ratio ratio-4x3">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1726722088745!6m8!1m7!1s2GUpJ3wgrZ4XUb8c3hYAMQ!2m2!1d-34.89151068469108!2d-60.01457439326683!3f290.39367649112154!4f3.4335852577463726!5f0.4000000000000002"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title">Misión</h2>
                    <p class="card-text">
                        Nuestra misión es proporcionar una educación técnica de alta calidad que prepare a los estudiantes para enfrentar los desafíos del mundo laboral y académico. Nos esforzamos por fomentar el desarrollo de habilidades técnicas, el pensamiento crítico y la creatividad, promoviendo al mismo tiempo valores éticos y sociales que contribuyan al crecimiento personal y profesional de nuestros alumnos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title">Visión</h2>
                    <p class="card-text">
                        Aspiramos a ser una institución líder en educación técnica, reconocida por la excelencia de nuestros programas académicos y la calidad de nuestros egresados. Buscamos innovar continuamente en nuestras metodologías de enseñanza y mantenernos a la vanguardia de los avances tecnológicos, para asegurar que nuestros estudiantes estén bien preparados para un futuro dinámico y en constante evolución.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
