* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar-mobile {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(135deg, #A2C1DD 0%, #096dd9 100%);
	padding: 10px 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	animation: fadeInDown 1s forwards;
}

.logo img {
	width: 35%;
	height: auto;
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeInDown 1.5s forwards;
}

.btn-drawer {
	font-size: 25px;
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeInDown 2s forwards;
}

.d-logo {
	max-width: 150px;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeInDown 2.5s forwards;
}

	.d-logo img {
		width: 11vw;
		height: auto;
	}

	.d-logo h1 {
		font-family: 'Poppins', sans-serif;
		color: #eff8ff;
		-webkit-text-stroke: 1px black;
		margin-left: 10px;
	}

.d-links {
	list-style: none;
	display: flex;
	flex-direction: column;
	text-decoration: underline;
	text-decoration-color: white;
	gap: 20px;
	padding: 0;
	margin: 20px 0;
}

	.d-links li a {
		font-size: 16px;
		color: white;
		text-decoration: none;
		position: relative;
		opacity: 0;
		transform: translateY(-20px);
		animation: fadeInDown 3s forwards;
	}

.btn-login, .btn-radio-drawer {
	border-radius: 0.5vw;
	text-decoration: none;
	background: none;
	color: white;
	border: 2px solid white;
	transition: background-color 0.3s ease, color 0.3s ease;
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeInDown 3.5s forwards;
}

	.btn-login:hover, .btn-radio-drawer:hover {
		background-color: white;
		color: black;
	}

.btn-radio-drawer {
	background: #FF5733;
	border: 2px solid #FF5733;
	margin-top: 10px;
	margin-bottom: 10px;
}

	.btn-radio-drawer:hover {
		color: #FF5733;
		border: 2px solid #FF5733 !important;
	}

/* Animations */
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}