@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@using AntDesign

<header>
    <nav class="navbar-mobile">
        <Flex Align="center" Justify="space-between" Style="margin: 10px; max-height: 250px; width: 100%">
            <div class="logo">
                <a href="/">
                    <img src="Images/School_Logo.webp" alt="Logo Escuela" />
                </a>
            </div>
            <div class="btn-drawer">
                <Button type="default" Style="color: #A2C1DD;" OnClick="() => _Visible = true">
                    <Icon type="menu" />
                </Button>
            </div>
        </Flex>
    </nav>
</header>
<Drawer @bind-Visible="_Visible" Placement="right"
        BodyStyle="display: flex; flex-direction: column; min-height: 100vh; justify-content: flex-start; border-radius: 0.6vw; background: linear-gradient(135deg, #A2C1DD 0%, #096dd9 100%);"
        HeaderStyle="display: none;">
    <div class="drawer-content">
        <div class="d-logo">
            <img src="Images/School_Logo.webp" alt="Logo Escuela" />
            <h1><b> EEST1</b></h1>
        </div>
        <div>
            <ul class="d-links">
                <li><a href="/inscripcion">Inscripción</a></li>
                <li><a href="/equipo-de-gestion">Equipo de Gestión</a></li>
                <li><a href="https://www.facebook.com/tecnicachivilcoy/">Noticias</a></li>
                <AuthorizeView>
                    <Authorized>
                        <li><a href="/SGE/index">Gestión Escolar</a></li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
        <div style="margin-top: auto; padding: 20px 0;">
            <AuthorizeView>
                <NotAuthorized>
                    <Button Class="btn-login" OnClick="Login">Iniciar Sesión</Button>
                </NotAuthorized>
                <Authorized>
                    <Button Class="btn-login" OnClick="Logout">Cerrar Sesión</Button>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</Drawer>

@code {
    private bool _Visible = false;
    
    // Manejo de Sesión
    private void Login()
    {
        NavigationManager.NavigateTo("/Auth/Login", true);
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/Auth/Logout", true);
    }

    private void NavigateToRadio()
    {
        NavigationManager.NavigateTo("https://kick.com/radioinduchivilcoy", true);
    }
}