@* Footer *@
<footer class="footer bg-footer text-light py-4 mt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-4 mb-3">
                <h5 class="text-white">EEST Nº 1 "Mariano Moreno"</h5>
                <p>Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="text-white">Información de Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill me-2"></i> Localidad: Chivilcoy, Buenos Aires</li>
                    <li><i class="bi bi-telephone-fill me-2"></i> Teléfono: 2346-431330</li>
                    <li><i class="bi bi-envelope-fill me-2"></i> Email: tecnica1chivilcoy@abc.gob.ar</li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="text-white">Redes Sociales</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3"><a href="https://www.facebook.com/tecnicachivilcoy/" class="text-light fs-3" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li class="me-3"><a href="https://www.instagram.com/eest_n1_chivilcoy/" class="text-light fs-3" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com" class="text-light fs-3" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3 border-top pt-3">
                <p>&copy; 7mo 'B' - 2024 | EEST Nº 1 "Mariano Moreno"</p>
            </div>
        </div>
    </div>
</footer>