.footer {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	padding: 2rem 0;
	background: linear-gradient(135deg, #A2C1DD 0%, #096dd9 100%);
	color: white;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 17px;
}

.footer-section {
	flex: 1;
	margin-bottom: 1.5rem;
	max-width: 350px;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 1s forwards;
}

	.footer-section h5 {
		color: #ffffff;
		margin-bottom: 1rem;
		font-weight: bold;
		border-bottom: 1px solid white;
		text-align: center;
		position: relative;
		padding-bottom: 0.5rem;
	}

		.footer-section h5::after {
			content: '';
			position: absolute;
			width: 50px;
			height: 2px;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
		}

.footer p {
	margin-bottom: 0;
}

.footer-section ul {
	list-style-type: none;
	padding: 0;
}

.footer-section li {
	margin-bottom: 0.5rem;
}

.social-icons {
	display: flex;
	justify-content: center;
	flex: 1;
}

.footer a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease, transform 0.3s ease;
}

	.footer a:hover {
		color: #E0E0E0;
		transform: scale(1.1);
	}

.footer i {
	color: white;
}

.footer ul {
	padding-left: 0;
}

	.footer ul li {
		margin-bottom: 0.5rem;
	}

.footer .d-flex {
	display: flex;
	align-items: center;
}

.footer .fs-3 {
	font-size: 1.5rem;
}

.text-light {
	color: #f8f9fa !important;
}

.social-icons a {
	color: #ffffff;
	font-size: 1.5rem;
	margin: 0 0.5rem;
	text-decoration: none;
}

.footer-bottom {
	text-align: center;
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	border-top: 1px solid #ffffff;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 1.5s forwards;
}

/* Animations */
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
	.footer-content {
		flex-direction: column;
		align-items: center;
	}

	.footer-section {
		max-width: 100%;
		text-align: center;
	}
}