<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h5>EEST Nº 1 "Mariano Moreno"</h5>
                <p>Escuela de Educación Secundaria Técnica Nº1 "Mariano Moreno" de Chivilcoy.</p>
            </div>
            <div class="footer-section">
                <h5>Información de Contacto</h5>
                <ul>
                    <li><i class="bi bi-geo-alt-fill me-2"></i> Localidad: Chivilcoy, Buenos Aires</li>
                    <li><i class="bi bi-telephone-fill me-2"></i> Teléfono: 2346-431330</li>
                    <li><i class="bi bi-envelope-fill me-2"></i> Email: tecnica1chivilcoy@abc.gob.ar</li>
                </ul>
            </div>
            <div class="footer-section">
                <h5>Redes Sociales</h5>
                <div class="social-icons">
                    <a href="https://www.facebook.com/tecnicachivilcoy/" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/eest_n1_chivilcoy/" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/search/results/all/?keywords=Escuela%20de%20Educaci%C3%B3n%20Secundaria%20T%C3%A9cnica%20N%C2%BA1%20%22Mariano%20Moreno%22%20de%20Chivilcoy" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 7mo 'B' - 2024 | EEST Nº 1 "Mariano Moreno"</p>
        </div>
    </div>
</footer>