footer {
    color: white;
    background-color: #A2C1DD;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h5 {
    color: white;
    text-decoration-line: underline;
}

p {
    color: white;
}
