@inject NavigationManager NavigationManager
@inject IConfiguration Configuration

<nav class="navbar navbar-expand-lg" style="background-color: #A2C1DD;">
    <div class="container-fluid">
        <a class="navbar-brand imagen-logo ms-2" href="#">
            <img src="Imagenes/logo-Escuela.png" alt="Logo Escuela" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 links">
                <li class="nav-item">
                    <a class="nav-link enlace-animado" href="/inscripcion">Inscripción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace-animado" href="#">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link enlace-animado" href="#">Noticias</a>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link enlace-animado" href="#">Gestión Escolar</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <AuthorizeView>
                <NotAuthorized>
                    <Button class="btn btn-outline-light iniciar-sesion" OnClick="Login">Iniciar Sesión</Button>
                </NotAuthorized>
                <Authorized>
                    <Button class="btn btn-outline-light iniciar-sesion" OnClick="Logout">Cerrar Sesión</Button>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private void Login()
    {
        NavigationManager.NavigateTo("/Auth/Login", true);
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/Auth/Logout", true);
    }
}