.imagen-logo {
    width: 7%;
    height: 7%;
}

    .imagen-logo img {
        object-fit: cover;
        object-position: center;
        max-height: 100%;
        max-width: 100%;
    }

.enlace-animado {
    position: relative;
    text-decoration: none;
}

    .enlace-animado::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .enlace-animado:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

.links a {
    color: white;
    font-size: 100%;
}

.iniciar-sesion {
    background-color: none;
    color: white;
    border-radius: 0.5vw;
    position: absolute;
    top: 5%;
    right: 1%;
    text-decoration: none;
    border: 2px solid white;
}

    .iniciar-sesion:hover {
        background-color: white;
        color: black;
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
