* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #A2C1DD;
	padding: 10px 20px;
}

.logo img {
	width: 8vw;
	height: auto;
}

.nav-links {
	list-style: none;
	display: flex;
	margin-left: 20px;
	gap: 20px;
	margin-right: auto;
}

	.nav-links li a {
		color: white;
		text-decoration: none;
		position: relative;
	}

		.nav-links li a::after {
			content: "";
			width: 0;
			height: 2px;
			background-color: white;
			position: absolute;
			left: 0;
			bottom: -5px;
			transition: width 0.3s ease;
		}

		.nav-links li a:hover::after {
			width: 100%;
		}

.btn-login {
	border-radius: 0.5vw;
	text-decoration: none;
	background: none;
	color: white;
	border: 2px solid white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

	.btn-login:hover {
		background-color: white;
		color: black;
	}

.btn-radio {
	border-radius: 0.5vw;
	text-decoration: none;
	background: #FF5733;
	color: white;
	border: 2px solid #FF5733;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-left: 20px;
}

	.btn-radio:hover {
		background-color: white;
		color: #FF5733;
		border: 2px solid #FF5733 !important;
	}