@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@using AntDesign

@using PaginaEEST1.Services
@inject KickService KickService

<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="Images/School_Logo.png" alt="Logo Escuela" />
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/inscripcion">Inscripción</a></li>
            <li><a href="/equipo-de-gestion">Equipo de Gestión</a></li>
            <li><a href="https://www.facebook.com/tecnicachivilcoy/">Noticias</a></li>
            <AuthorizeView>
                <Authorized>
                    <li><a href="/SGE/index">Gestión Escolar</a></li>
                </Authorized>
            </AuthorizeView>
        </ul>
        <AuthorizeView>
            <NotAuthorized>
                <Button class="btn-login" OnClick="Login">Iniciar Sesión</Button>
            </NotAuthorized>
            <Authorized>
                <Button class="btn-login" OnClick="Logout">Cerrar Sesión</Button>
            </Authorized>
        </AuthorizeView>
        @if (isLive)
        {
            <Button class="btn-radio" OnClick="NavigateToRadio">Radio en Vivo</Button>
        }
    </nav>
</header>

<style>
    .btn-login {
        border-radius: 0.5vw;
        text-decoration: none;
        background: none;
        color: white;
        border: 2px solid white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .btn-login:hover {
            background-color: white;
            color: black;
        }

    .btn-radio {
        border-radius: 0.5vw;
        text-decoration: none;
        background: #FF5733;
        color: white;
        border: 2px solid #FF5733;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-left: 20px;
    }

        .btn-radio:hover {
            background-color: white;
            color: #FF5733;
            border: 2px solid #FF5733 !important;
        }
</style>

@code {
    private bool isLive;

    protected override async Task OnInitializedAsync()
    {
        isLive = await KickService.IsChannelLiveAsync("radioinduchivilcoy");
    }

    private void Login()
    {
        NavigationManager.NavigateTo("/Auth/Login", true);
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/Auth/Logout", true);
    }

    private void NavigateToRadio()
    {
        NavigationManager.NavigateTo("https://kick.com/radioinduchivilcoy", true);
    }
}