@inject NavigationManager NavigationManager
@using AntDesign

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/SGE/index">
                <img src="Images/System_Logo.jpg" alt="Logo Sistema" />
            </a>
        </div>
        <div class="right-buttons">
            <AuthorizeView>
                <Authorized>
                    <Button type="primary" class="btn-logout" OnClick="Logout">Cerrar Sesión</Button>
                </Authorized>
            </AuthorizeView>
            <div class="menu-button">
                <Button type="default" OnClick="OpenDrawer">
                    <Icon type="menu" />
                </Button>
            </div>
        </div>
    </nav>
</header>

<Drawer @bind-Visible="drawerVisible" Placement="right" Width="300px"
    BodyStyle="display: flex; flex-direction: column; min-height: 100vh; justify-content: flex-start; border-radius: 0.6vw;"
        HeaderStyle="display: none;">
    <div class="d-logo">
        <img src="/Images/System_Logo.jpg" alt="Logo SGE" />
        <h1><b>Sistema de Gestión Escolar</b></h1>
    </div>
    <div>
        <ul class="d-links">
            <li><a href="/SGE/index">Inicio</a></li>
            <li><a href="/SGE/Prestamos">Prestamos</a></li>
            <li><a href="/SGE/Mis_Peticiones">Mis peticiones</a></li>
            <AuthorizeView Roles="EMATP">
                <Authorized>
                    <li><a href="/SGE/EMATP/GestionOrdenadores">Gestión de Ordenadores</a></li>
                    <li><a href="/SGE/EMATP/GestionSolicitudes">Gestión de Peticiones</a></li>
                    <li><a href="/SGE/EMATP/DepositoInformatica">Deposito</a></li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Directivo">
                <Authorized>
                    <li><a href="/SGE/Directivo/GestionSalones">Gestión de Salones</a></li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
</Drawer>

@code {
    private bool drawerVisible = false;

    private void OpenDrawer()
    {
        drawerVisible = true;
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("/Auth/Logout", true);
    }
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
    }

    .logo img {
        width: 8vw;
        height: auto;
    }

    .right-buttons {
        display: flex;
        align-items: center;
    }

    .menu-button {
        margin-left: 10px;
    }

    .btn-logout {
        border-radius: 0.5vw;
        text-decoration: none;
        background: none;
        color: black;
        border: 2px solid black;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .btn-logout:hover {
            background-color: black;
            color: white;
            border: 2px solid black;
        }

    .d-logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-20px);
        animation: fadeInDown 2.5s forwards;
    }

        .d-logo img {
            width: 7vw;
            height: auto;
        }

        .d-logo h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #1f74b7;
            -webkit-text-stroke: 1px #0c2c45;
            margin-left: 10px;
            line-height: 1.2;
            text-align: center;
        }

    .d-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-decoration: underline;
        text-decoration-color: #0c2c45;
        gap: 20px;
        padding: 0;
    }

        .d-links li a {
            font-size: 16px;
            color: black;
            text-decoration: none;
            position: relative;
            transform: translateY(-20px);
            animation: fadeInDown 3s forwards;
        }

</style>