<!-- Footer -->
<footer class="pt-4">
    <div class="container">
        <div class="row">
            <!-- Información de Escuela -->
            <div class="col-md-4">
                <h5>EEST1</h5>
                <p>(Descripción)</p>
            </div>
            <!-- Links -->
            <div class="col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light text-decoration-none">Inicio</a></li>
                </ul>
            </div>
            <!-- Contactos -->
            <div class="col-md-4">
                <h5>Contactos</h5>
                <ul class="list-unstyled">
                    <li> Dirección: </li>
                    <li> Teléfono: </li>
                    <li> Email: </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center py-3 mt-3 border-top">
            <p>© 2024</p>
        </div>
    </div>
</footer>