<!-- Footer -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<footer class="pt-4">
    <div class="container">
        <div class="row">
            <!-- Información de Escuela -->
            <div class="col-md-4">
                <h5>EEST1</h5>
                <p>Escuela de Educación Secundaria Técnica Nro 1 "Mariano Moreno" de Chivilcoy ("escuela industrial")</p>
            </div>
            <!-- Links -->
            <div class="col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-house-door-fill"></i><a href="/" class="text-light text-decoration-none"> Inicio</a></li>
                    <li><i class="bi bi-search"></i><a href="/" class="text-light text-decoration-none"> Consultas</a></li>
                </ul>
            </div>
            <!-- Contactos -->
            <div class="col-md-4">
                <h5>Contactos</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Localidad: Chivilcoy, Buenos Aires</li>
                    <li><i class="bi bi-telephone-fill"></i> Teléfono: </li>
                    <li><i class="bi bi-envelope-fill"></i> Email: </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center py-3 mt-3 border-top">
            <p>&copy; 7mo 'B' - 2024 | EEST Nº 1</p>
        </div>
    </div>
</footer>