@inherits LayoutComponentBase

<div>
    <header>
        <NavBarMenu />
    </header>
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>

    .navbar-header {
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #A1C0DC;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    .main-content {
        flex-grow: 1;
        overflow-y: auto;
    }

    .content {
        padding: 1rem;
    }
</style>