@inherits LayoutComponentBase

<div>
    <header>
        <NavBarMenu />
    </header>
    @Body
    <FooterPage />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .main-content {
        flex-grow: 1;
        overflow-y: auto;
    }

    .content {
        padding: 1rem;
    }
</style>