<!-- Estilos -->
<style>
    .custom-navbar {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: white;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }

    .logo {
        margin-right: 10px; /* Espacio entre el logo y el texto */
    }

    .navbar-title {
        margin: 0;
        font-size: 1.5rem;
    }
</style>

<!-- Navbar -->
<nav class="navbar custom-navbar">
    <a class="navbar-brand" href="#">
        <img src="imagenes/logo-escuela.png" width="50" height="50" class="logo" alt="">
        <h3 class="navbar-title">ESCUELA DE EDUCACIÓN SECUNDARIA TECNICA Nº1</h3>
    </a>
</nav>