<!-- Navigation-->
<div style="background-color: #A2C1DD;" class="navbar navbar-expand-lg">
    <div class="container" style="margin: 0; margin-left: 1%;">
        <a class="imagen-logo" href="#">
            <img src="Imagenes/logo-Escuela.png" />
        </a>
        <div class="links">
            <a href="#" class="enlace-animado"> Inscripciones </a>
            <a href="#" class="enlace-animado"> Contactos </a>
            <a href="#" class="enlace-animado"> Noticias </a>
            <a href="#" class="enlace-animado iniciar-sesion">Iniciar Sesión</a>
        </div>
    </div>
</div>