.template {
    margin-top: 20px;
    width: 90%;
    padding: 20px;
    background-color: #ebf1f7;
    border-radius: 1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #0c2c45;
    border-radius: 1vw;
    font-size: 14px;
    font-family: Arial;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

    .square p {
        margin: 5px 0;
    }

.loans-display{
    margin-top: 20px;
}

/* Acciones de EMATP */
.card-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.type-square {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #0c2c45;
    border-radius: 1vw;
    padding: 10px 20px;
    background-color: transparent;
    width: 250px;
}
    .type-square.selected {
        background-color: #e6f3f8;
        border-color: #0c2c45;
    }
    .type-square h4 {
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
    }

    .type-square img {
        height: 40px;
        margin-left: 10px;
        object-fit: contain;
    }
