.top-intro {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.ant-form-item {
    width: 100%;
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 768px) {
    .top-intro {
        font-size: 1.5rem;
    }

    .card {
        padding: 8px;
        margin: 10px;
    }

    .ant-form-item-label > label {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .ant-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .ant-btn {
        padding: 10px;
    }

    .ant-input {
        font-size: 0.9rem;
        padding: 8px;
    }
}
