body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	color: #333;
}

.pc-container {
	padding: 2rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2rem auto;
	max-width: 1200px;
	background-color: #fff;
	position: relative;
}

.request-container {
	margin-top: 2rem;
	padding: 2rem;
	background-color: #f4f4f4;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.request-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	flex-wrap: wrap;
	gap: 1rem;
}

::deep .ant-form-item-label > label {
	font-weight: bold;
}

.pc-info {
	flex: 1;
	margin-bottom: 1rem;
	width: 100%;
}

.pc-logo {
	width: 15%;
	height: auto;
	object-fit: contain;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

@media (min-width: 768px) {
	.pc-container {
		flex-direction: row;
		padding: 3rem;
	}

	.pc-logo {
		width: 10%;
	}
}

@media (min-width: 1024px) {
	.pc-container {
		padding: 4rem;
	}

	.request-container {
		padding: 3rem;
	}

	.pc-logo {
		width: 8%;
	}
}