body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pc-container {
    padding: 3vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.request-container{
    margin-top: 10vw;
    padding: 3vw;
    background-color: #f4f4f4;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.request-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

::deep .ant-form-item-label > label {
    font-weight: bold;
}

.pc-info {
    flex: 1;
}

.pc-logo {
    width: 20%;
    height: auto;
    object-fit: contain;
}